* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #A9A9A9;
    --main-color: #FFFFFF;
    --btn-color: #FF0000;
}

body {
    background-color: var(--body-color);
}

main {
    max-width: 900px;
    width: 100%;
    background-color: var(--main-color);
    margin: 50px auto;
    border-radius: 13px;
    padding: 36px;
}